* {
	box-sizing: border-box;
}

body {
	background: rgba(200, 200, 200, 1);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.grid {
	flex: 1; // hoping this instigates sticky footer
}

.grid-box {
	padding: 10px 20px 10px 20px;
}

.grid-box-inner {
	padding: 20px;
	background: $BG_GRAY;
}

.grid-box-inner > * + * {
	margin-top: 10px;
		overflow: hidden;

}

img {
	max-width: 50%;
	float: left;
}